.App {
  padding: 100px 0 6vh; 
  height: 140vh; 
}

.nav-bar {
  height: 50px; 
  background-color: tomato; 
  position: fixed; 
  top: 0; 
  width: 100%; 


}

.store{
  position: absolute; 
  top: 15px; 
  left: 50px; 
}

.nav-buttons{
  position: absolute; 
  top: 15px; 
  right: 70px; 
}

.nav-button{
  margin-left: 10px; 
}

.dashboard-body{
  /* display: flex; 
  flex-wrap: wrap;  */
  /* justify-content: space-around;  */
  padding-left: 150px; 
  padding-right: 150px; 

}

.product-image{ 
  width: 300px; 
  height: 250px; 
  
   
}

.product-card{
  display: flex; 
  justify-content: space-around; 
  /* padding-left: 25px; 
  padding-right: 25px;  */
  border-style: solid;
  flex-direction: column;
  margin-bottom: 40px; 
}

.product-holder{
  display: flex;
  justify-content: space-around; 
  flex-wrap: wrap; 
}

.product-info{
  border-top: solid; 
}