.App {
  padding: 100px 0 6vh; 
  height: 140vh; 
}



.store{
  position: absolute; 
  top: 15px; 
  left: 50px; 
}








/* NavBar */
.nav-bar {
  height: 50px; 
  background-color: black; 
  position: fixed; 
  top: 0; 
  width: 100%; 
  color: white; 
}
.nav-buttons{
  position: absolute; 
  top: 15px; 
  right: 70px; 
}
.nav-button{
  margin-left: 10px; 
  color: white;  
}


/* NavBar */

/* DashBoard */
.dashboard-body{
  padding-left: 150px; 
  padding-right: 150px; 

}
.product-image{ 
  width: 300px; 
  height: 250px; 
}
.product-card{
  display: flex; 
  justify-content: space-around; 
  border-style: solid;
  flex-direction: column;
  margin-bottom: 40px; 
}
.product-holder{
  display: flex;
  justify-content: space-around; 
  flex-wrap: wrap; 
}
.product-info{
  border-top: solid; 
}
/* DashBoard */

/* Login/Register */
.login-page{
  display: flex; 
  justify-content: center; 
}
.login-box{
  display: flex; 
  justify-content: center; 
  justify-items: center;
  flex-direction: column; 
  height: 300px; 
  width: 400px; 
}
.login-inputs{
  display: flex; 
  justify-content: center; 
  margin-bottom: 20px; 
}
.email-input{
  margin-right: 10px; 
}
.login-buttons{
  display: flex; 
  justify-content: center; 
}
.login-button{
  margin-right: 50px; 
}
/* Login/Register */

/* Cart */

.cart-body{
  padding-left: 500px; 
  padding-right: 543px; 
}

/* Cart */


@media (min-width: 990px){
  .menu-button{
    display: none; 
  }

  
}

@media (max-width: 375px){
  .nav-button{
    display: none; 
  }

  .store{
    font-size: 12px; 
  }

  .product-info > button{
    font-size: 20px;
    display: flex; 
  }

  .login-button{
    font-size: 20px; 
  }

  .register-button{
    font-size: 20px; 
  }

  .cart-body{
    padding-left:35px; 
    padding-right: 34px; 
  }
}